body {
    font:18px/1.4 Verdana,Arial; 
    background: #fff; 
    height:100%; 
    margin:25px 0; 
    padding:0;
    text-align: center
}

p {
    margin-top:0
}

table { 
    border: 1px solid black; 
    margin: 0 auto; 
    border-collapse: separate;
    box-sizing: border-box;
    table-layout: fixed;
    width: 900px;
}

th, td { 
    border: 1px solid black;
    text-align: center; 
}

thead { 
    background: #008CBA; 
    color: #fff; 
}

tbody { 
    background: #fff; 
    color: #000; 
}

.button {
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
